.data-table-config-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #ccc 0%, #eee 100%);
    opacity: .8;
    z-index: 100;
}

