.my-1535567872393-product .table-frame {
    padding-top: 90px;
    margin-top: -90px;
    margin-bottom: 16px;
}

@media only screen and (max-width: 600px) {
    .my-1535567872393-product .table-frame {
        overflow-x: scroll;
    }
}

.my-1535567872393-product table {
    table-layout: fixed;
    width: 100%;
    position: relative;
}

.my-1535567872393-product .table-row-index-column {
    text-align: center;
    vertical-align: center;
}

.my-1535567872393-product table,
.my-1535567872393-product tr,
.my-1535567872393-product th,
.my-1535567872393-product td {
    border: 1px solid var(--border-color);
    border-collapse: collapse;
    background-clip: padding-box;
    word-wrap: break-word;
    padding: 6px 4px;
    font-size: 14px;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

.my-1535567872393-product thead th {
    position: relative;
    height: 20px;
    color: var(--theader-font-color);
    background-color: var(--theader-background-color);
    text-align: center;
}

.my-1535567872393-product tbody td {
    background-color: var(--tbody-background-color);
    color: var(--tbody-font-color);
}

.my-1535567872393-product tbody tr:hover td {
    background-color: var(--hover-color);
}

.my-1535567872393-product .table-header-row.sticky-header th {
    position: sticky;
    top: -1px;
    box-shadow: 0 2px 2px -1px rgb(247, 248, 249);
}

.my-1535567872393-product .table-row-filter-column-name {
    width: 80%;
    display: block;
}

.my-1535567872393-product td.table-row-checkbox-column {
    opacity: .26;
}

.my-1535567872393-product tr.table-row-selected td.table-row-checkbox-column {
    opacity: .96;
}

.my-1535567872393-product th input[type="checkbox"].partial::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 25%;
    background-color: rgba(192, 42, 156, .78);
}
